nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 28vh;
    background: chartreuse;
}

.logo {
    display: flex;
}

.nav_links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #00AFC7;
    list-style: none;
}
